/*
	wdg_avgfield_02_mobile.css
*/
@media screen{ 
   .wdg_avgfield_02{
        width: 100%;
        height: auto;
        margin-bottom: 18px;
        display: block;
        border-bottom: 1px solid #d3d3d3;
    }
    .wdg_avgfield_02 .str_pleca_01{
    	margin-bottom:5px;
    }
    .wdg_avgfield_02 .wdg_avgfield_02_row{
        height: 44px;
        width: 100%; 
        border-top: 1px solid #d3d3d3;
    }       
    .wdg_avgfield_02 .wdg_avgfield_02_row > div{
        float: left;
        height: 44px;
        width: 44%;
        line-height: 42px;
        font-size: 20px;
    }
     .wdg_avgfield_02 .wdg_avgfield_02_row:first-child{
    	border-top:none;
    	height: 35px;
    } 
    .wdg_avgfield_02 .wdg_avgfield_02_row:first-child > div{
    	border-top:none;
    	height: 35px;
    } 
    .wdg_avgfield_02 .wdg_avgfield_02_teams.box-gray{
        background: none repeat scroll 0 0 #E6E6E6;
        box-shadow: 0 0 7px #DDDDDD inset;
        box-shadow: 0 4px 14px #CBCBCB inset;
        box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,0.1);
        font-weight: bold;
    }
	.wdg_avgfield_02 .wdg_avgfield_02_teams:first-child{
		height: 35px;
	}
    .wdg_avgfield_02 .wdg_avgfield_02_row .wdg_avgfield_02_title{
        width: 56%;
    }
    .wdg_avgfield_02 .wdg_avgfield_02_row .wdg_avgfield_02_title a{
        margin-left: 7px;
        font-size: 14px;
        font-weight: bold;
    }
    .wdg_avgfield_02 .wdg_avgfield_02_row .wdg_avgfield_02_title .wdg_avgfield_02_red{        
        font-size: 14px;
    }
    .wdg_avgfield_02 .wdg_avgfield_02_teams > div{
        float: left;
        height: 42px;
        width: 49%;
        text-align: center;
        line-height: 42px;        
    }
    .wdg_avgfield_02 .wdg_avgfield_02_teams .wdg_avgfield_02_teama,
    .wdg_avgfield_02 .wdg_avgfield_02_teams .wdg_avgfield_02_teamb{
    	  	
    	width: 49%;
    }
    .wdg_avgfield_02 .wdg_avgfield_02_teams > div .element{
        width: 100%;
    }
    .wdg_avgfield_02 .wdg_avgfield_02_teams .dotted-right{
        height: 32px;
        width: 1px;
        margin-top: 5px;
    }
    .wdg_avgfield_02 .wdg_avgfield_02_teama .element{
        width: 100%;
        float: left;
        text-align: center;
    }
    .wdg_avgfield_02 .wdg_avgfield_02_teama .element img{
        margin-top: 0px;
    }
    .wdg_avgfield_02 .wdg_avgfield_02_teamb img{
        margin-top: 0px;
    }
}
/*
	wdg_avgfield_02_tablet.css
*/
@media screen and (min-width: 624px){
    .wdg_avgfield_02{
        width: 300px;
        margin-bottom: 36px;
    }
	.wdg_avgfield_02 div.str_pleca_01_title h3{		
		max-width: 300px;
		min-width: 165px;
	}
}