@media screen and (min-width: 948px){    
	.wdg_mxm_live_04 > div .prev, 
    .wdg_mxm_live_04 > div .next {
        display: block;
    }
    .wdg_mxm_live_04 .wdg_mxm_live_04_list{
    	overflow: hidden;
    	width: 100%;
    	height: auto;		
    }
    .wdg_mxm_live_04 .arrow_buttons{
    	display: block !important;
    }
    .wdg_mxm_live_04 .degradado{
        display:none;
    }
	.wdg_mxm_live_04 ul li{
        padding: 18px 0px 15px 0;
    }
    .ie7 .wdg_mxm_live_04 .icon-interactive2{
    	width: 3%;
    }
	.wdg_mxm_live_04 .wdg_mxm_live_04_title{
		margin-bottom: 11px;
	}
}