@media screen and (min-width: 624px){
	.wdg_mxm_live_04{
		margin-bottom: 36px;
	}
	.wdg_mxm_live_04 ul li .chronic{
        width: 74%;
    }
	.wdg_mxm_live_04 .wdg_mxm_live_04_list li{
        display:block;
    }
	.wdg_mxm_live_04 .wdg_mxm_live_04_status{
		height: auto;
		overflow:hidden;
	}
    .wdg_mxm_live_04 .wdg_mxm_live_04_list{
    	height: auto;
    	overflow:  scroll;
		overflow-x:hidden;
    	width: 640px; /* 103% WTF?! */
    }
    .wdg_mxm_live_04 .img_stage_01 {
    	margin-bottom: 5px;
    	margin-top: 38px;
    }
    .wdg_mxm_live_04 ul li .icon-interactive2{
        padding-right: 4px !important;
        margin-right: 4px !important;
        float: left;
        cursor: pointer;
        padding-left: 0;
		
    }
    .wdg_mxm_live_04 ul li{
        padding: 11px 0px 11px 0;
		margin-right: 0;
    }
    .wdg_mxm_live_04 ul li .time{
        margin-left: 19px;
		font-size:16px;
    }
    .wdg_mxm_live_04 ul li .icon-time{
        margin-left: 17px;
        margin-right: 5px;
        float: left;
    }
     .wdg_mxm_live_04 ul li .chronic{
        border-left: 1px solid #CCCCCC;
        font-size: 15px;
        margin-left: 5px;
        padding-left: 21px;
        width: 70%;
        float: left;
    }
     .wdg_mxm_live_04 ul li .icon-interactive2{
        border-right: 0;
        margin-left: 0;
        float: left;
        cursor: pointer;
		padding: 5px;
        
    }
    .wdg_mxm_live_04 .wdg_mxm_live_04_verMas{
        display: none;
    }
    .wdg_mxm_live_04 .degradado{
        display:block;
    }
	 .wdg_mxm_live_04 .arrow_buttons{
        margin-top: 22px;
    }
    .wdg_mxm_live_04 .dotted-right{
        background: url(http://lab.israelviveros.com/deportes/wdg_mxm_live_02/dotted-vertical.png) repeat-y right !important;
    }
	
	.wdg_mxm_live_04 .wdg_mxm_live_04_title{
		line-height: 22px;
		margin-bottom: 18px;
	}
	
	.wdg_mxm_live_04 .img_stage_01 div.img_stage_01_image img {
		height: 466px;
	}
	.wdg_mxm_live_04 ul li .time-icon{
		width: 90px;
		overflow: hidden;
		float: left;
	}
	.wdg_mxm_live_04 ul li .icon-interactive{
		padding-top: 5px;
	}
	.wdg_mxm_live_04 .img_stage_01 a.img_stage_01_whtbkg{
		bottom:5px;
	}
}