@media screen {
    .wdg_matchesresult_sprite{
        background: url(../img/sprites-sports2.png) no-repeat 0 0;
        display: inline-block;
        height: 10px;
        overflow: hidden;
        text-indent: -1584px;
        width: 10px;
        margin-bottom: 0px;
    }
    .wdg_matchesresult_sprite.uparrow{
        background-position: 0px -9px;
        height: 7px;
        width: 10px;
        margin-right: 5px;
        margin-bottom: 1px;
    }
    .wdg_matchesresult_sprite.downarrow{
        background-position: 0px 0px;
        height: 7px;
        width: 10px;
        margin-right: 5px;
        margin-bottom: 1px;
    }
    .wdg_matchesresult_01{
		position:relative;
        width: 100%;
        height: 215px;
        overflow: hidden;
        margin-bottom: 10px;
		background-image: linear-gradient(bottom, #9B1822 2%, #A70A0B 9%);
		background-image: -o-linear-gradient(bottom, #9B1822 2%, #A70A0B 9%);
		background-image: -moz-linear-gradient(bottom, #9B1822 2%, #A70A0B 9%);
		background-image: -webkit-linear-gradient(bottom, #9B1822 2%, #A70A0B 9%);
		background-image: -ms-linear-gradient(bottom, #9B1822 2%, #A70A0B 9%);
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.02, #9B1822), color-stop(0.1, #A70A0B));
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#9B1822", endColorstr="#A70A0B", GradientType=0);
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container{
        width: 100%;
        margin: 0 auto;
        height: 575px;
        padding-left: 0px;
        margin-bottom: 10px;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_left{
        height: 575px;
        width: 190px;
        float:none;
        display: none;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right{
        height: 500px;
        width: 320px;
        float: none;
        margin: 0 auto;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_components ul li{
        float: left;
        margin-right: 15px;
    }
	.wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_components ul li:last-of-type{
	margin-right:0;
	}
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer{
        clear: both;
		height: 56px;
		margin: 0 auto 15px;
		overflow: hidden;
		width: 284px;
    }

    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav{
        height: 50px;
        width: 240px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 22px;
		overflow:hidden;
        float: left;
		position: relative;
    }
	
	.wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_theme{
        height: 50px;
    }

    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_components{
		width: 216px; /*Margen de visualizacion carrusel*/
        height: 400px;
        overflow-x: hidden;
        float: left;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_components .wdg_matchesresult_01_list{
        height: 400px;
    } 
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li{
        float: left;
        text-align: center;
    }    
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li.selected{
        border-bottom: 3px solid #D6A256;

    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li.selected a{
        color: #D6A256;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li a p{
        border-right: 1px dotted #ffffff;
        height: 17px;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_container .wdg_matchesresult_01_right .wdg_matchesresult_01_navcontainer .wdg_matchesresult_01_nav ul li:nth-child(1) a p{
        padding-left: 0px;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_mobileright{
        display: block;
		float: left;
		margin-left: 4px;
		margin-top: 35px; /*distancia flechas*/
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_mobileleft{
      	display: block;
		float: left;
		margin-top: 35px; /*distancia flechas*/
		margin-left: 35px;
		margin-right: 12px;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_mobileleft .wdg_matchesresult_leftmobile{
        background: url(../img/box_arrow_l.png) no-repeat 0 0;
        display: inline-block;
        width: 14px;
        height: 20px;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_01_mobileright .wdg_matchesresult_rightmobile{
        background: url(../img/box_arrow_r.png) no-repeat 0 0;
        display: inline-block;
        width: 14px;
        height: 20px;
    }
	.wdg_matchesresult_01 .wdg_matchesresult_right{
		color:#D6A256;
		font-size:35px;
	}
	.wdg_matchesresult_01 .wdg_matchesresult_left{
		color:#6C0808;
		font-size:35px;
	}
	.wdg_matchesresult_01 .wdg_matchesresult_01_arrows .tvsa-double-caret-right{
		color:#D6A256;
        visibility: hidden;
	}
	.wdg_matchesresult_01 .wdg_matchesresult_01_arrows .tvsa-double-caret-left{
		color:#6C0808;
        visibility: hidden;
	}
    .wdg_matchesresult_01 .wdg_matchesresult_navlefticon{
        background: url(../img/home_arrow_l.png) no-repeat 0 0;
        display: inline-block;
        width: 11px;
        height: 10px;
    }
    .wdg_matchesresult_01 .wdg_matchesresult_navrighticon{
        background: url(../img/home_arrow_r.png) no-repeat 0 0;
        display: inline-block;
        width: 11px;
        height: 10px;
    }

    .wdg_matchesresult_01 .wdg_matchesresult_navarrowleft{
        float: left;
        margin-top: 20px;
        margin-right: 10px;
		width:10px;
    }
	
    .wdg_matchesresult_01 .wdg_matchesresult_navarrowright{
        float: left;
        margin-top: 20px;
        margin-left: 10px;
		width:10px;
    }

    .wdg_matchesresult_01 .wdg_matchesresult_navarrowright .tvsa-double-caret-right{
        color:#D6A256;
    }
	
	.wdg_matchesresult_01 .linedown{
		border-bottom: 1px solid #B03537;
		height: 2px;
		position: absolute;
		top: 28px;
		width: 370px;
	}
	
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(1){
		width:73px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(2){
		width:68px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(3){
		width:91px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(4){
		width:54px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(5){
		width:56px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(6){
		width:43px;
	}
	.wdg_matchesresult_01 ul.wdg_matchesresult_01_theme li:nth-child(7){
		width:64px;
	}
	.wdg_matchesresult_01 .box{
		background:#A70A0B;
		display:none;
		height:25px;
		left:370px;
		position:absolute;
		top:196px;
		width:740px;
	}
	.wdg_matchesresult_01_arrows a.wdg_matchesresult_right,
	.wdg_matchesresult_01_arrows a.wdg_matchesresult_left{
		display:none;
	}
}

