@media screen and (min-width: 624px) {
	.wdg_stats_teams_02 {
		width: 624px;
		margin-bottom: 36px;
	}
	.wdg_stats_teams_02 .pleca_superior {
		height: 30px;
	}
	.wdg_stats_teams_02 .pleca_superior h3 {
		line-height: 30px;
	}
	.wdg_stats_teams_02 h2 {
		margin-bottom:0px;
		height: 33px;
		line-height: 23px;
		margin-left: 0;
		font-size: 23px;
		font-style: italic;
		font-weight:normal;
	}
	.wdg_stats_teams_02 .background-color1 {
		height: 30px;
		width: 48%;
	}
	.wdg_stats_teams_02 .wdg_stats_teams_02_dropdown {
		width: 322px;
		line-height: 30px;
		height: 30px;
	}
	.wdg_stats_teams_02 .wdg_stats_teams_02_listcontainer ul li {
		width: 300px;
	}
	.wdg_stats_teams_02 .wdg_stats_teams_02_dropdown .wdg_stats_teams_02_dropdowncontent p {
		line-height: 30px;
	}
	.wdg_stats_teams_02 .teams_stadistics_table {
		clear: both;
		overflow: hidden;
		border-bottom: 1px solid #ccc;
	}
	.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics div {
		display: block;
	}
	.wdg_stats_teams_02 .teams_stadistics_table .separator_team {
		border-right: 1px solid #CCCCCC;
		float: left;
		height: 155px;
		margin: 36px 3px 0;
	}
	.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics {
		float: left;
		width: 145px;
		height: 203px;
		text-align: center;
	}
	.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .name_team {
		padding-top: 22px;
		padding-bottom: 12px;
		float: none;
		left: 0;
		line-height: 15px;
		position: relative;
		font-weight: bold !important;
	}
	.ie7.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .name_team{
		font-weight: bold !important;
	}

	.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .img_team {
		padding-bottom: 25px;
		border-bottom: 1px solid #ccc;
		margin: 0 15px;
		float: none;
	}
	.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .textcolor-title4 {
		background: none repeat scroll 0 0 #F5F5F5;
		font-size: 14px;
		font-style: italic;
		left: 45px;
		position: relative;
		top: -10px;
		width: 60px;
		z-index: 700 !important;
	}
	.ie7 .wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .textcolor-title4 {
		left: 1px;
	}
	.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .titles_left {
		float: left;
		padding-left: 18px;
		font-size: 18px;
		text-transform: uppercase;
	}
	.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .titles_left p.textcolor-title1 {
		margin-bottom: 8px;
		font-size: 12px;
		margin-top: 3px;
		font-weight: bold;
	}
	.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .separator_title {
		width: 1px;
		float: left;
		height: 48px;
		margin-left: 12px;
		margin-top: 1px;
		background: url(../img/dotted-vertical.png) repeat-y 100% 0;
	}
	.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .titles_right {
		float: right;
		padding-right: 20px;
		font-size: 18px;
		text-transform: uppercase;
	}
	.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .titles_right p.textcolor-title1 {
		margin-bottom: 8px;
		font-size: 12px;
		margin-top: 3px;
		font-weight: bold;
	}
	.wdg_stats_teams_02 .teams_stadistics {
		border-top:0;
		border-bottom: 0;
		clear: none;
	}
	.wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .marrow {
		display: none;
	}
	.wdg_stats_teams_02 .more_teams_stadistics .teams_stadistics_table:nth-child(n+3),  .wdg_stats_teams_02 .more_teams_stadistics .teams_stadistics_table:nth-child(2) .teams_stadistics:nth-child(3n+4),  .wdg_stats_teams_02 .more_teams_stadistics .teams_stadistics_table:nth-child(2) .teams_stadistics:nth-child(3n+2) {
		display: block;
	}
	.wdg_stats_teams_02 .see_more {
		display: none;
	}
	.wdg_stats_teams_02 .middle {
		width: 155px !important;
	}
	.wdg_stats_teams_02 .degraded{
		display:none;
	}
	.wdg_stats_teams_02 .more_teams_stadistics {
		height:auto;
		overflow:hidden;
		width:auto;
	}
}
