@media screen{

    .background-color{
        background: #3a9e2a !important;
    }

    .wdg_altasbajas_result_01{    	
    	height: 100%;
        position: relative;
        width: 100%;
        overflow: hidden;
		margin-bottom: 0px;
    }
	.wdg_altasbajas_result_01 .time{
		 font-size:17px;
	 }
    .wdg_altasbajas_result_01 > ul {
        height: 141px;
        display: block;
        overflow: auto;
        position: relative;
        width: 110%;
        overflow-x: hidden;
		margin-bottom: 18px;
    }

    .wdg_altasbajas_result_01 > ul li {
        display: block;
		height: auto;
		overflow: hidden;
        position: relative;
		border-top: 1px solid #CCCCCC;
    }
    
    .wdg_altasbajas_result_01 > ul li div:first-child {        
        width: 84px;
		height:47px;			
    }
	
	.wdg_altasbajas_result_01 > ul li i{
		position: absolute;
		left: 59px;
		color:#FFF;
	}

    .wdg_altasbajas_result_01 ul li div:first-child span.date, 
    .wdg_altasbajas_result_01 ul li div:first-child span, 
    .wdg_altasbajas_result_01 ul li div:first-child span.date + span {
        display: block;
        margin: 0;
        position: static;
        text-align: center;
        width: auto;
    }

    .wdg_altasbajas_result_01 > ul li div:first-child span.active {
        color: #DEB476;
        font-weight: bold;
        left: 0;
        position: absolute;
        text-align: right;
        top: 0;
        width: 51px;
    }

    .wdg_altasbajas_result_01 > ul li div:first-child span.date {
        display: block;
        font-size: 12px;
        font-weight: bold;
        margin: 0 25px 0 0;
        text-align: right;
    }



    .wdg_altasbajas_result_01 ul li span.date, 
    .wdg_altasbajas_result_01 ul li span.active {
        color: #DEB476;
    }

    .wdg_altasbajas_result_01 ul li div:first-child span.date, 
    .wdg_altasbajas_result_01 ul li div:first-child span, 
    .wdg_altasbajas_result_01 ul li div:first-child span.date + span {
        display: block;
        margin: 0;
        position: static;
        text-align: center;
        width: auto;
    }
    .wdg_altasbajas_result_01 > ul li.color a {
        padding: 7px 27px;
        width: 100%;
        border-bottom: 1px solid #D1D1D1;
    }

    .wdg_altasbajas_result_01 > ul li a {
        display: block;        
        margin-left: 83px;
        padding: 0;
        transition: all 0.2s ease-out 0s;
    }

    .wdg_altasbajas_result_01 > ul li a .program {
        color: #000000;
        display: block;
        font-size: 14px;
        font-weight: bold;
        top: 8px;
        margin-bottom: 2px; 
    }
    .wdg_altasbajas_result_01 > ul li.color a .textcolor-title4 {
        font-style: italic;
    }
    .wdg_altasbajas_result_01 > ul li.color a .textcolor-title2 {
        font-style: normal;
    }
    .wdg_altasbajas_result_01 > ul li.color a .channel {
        font-style: italic;
    }

    .wdg_altasbajas_result_01 > ul li a .channel {
        color: #948F8F;
        display: block;
        font-size: 12px;
        top: 24px;
    }

    .wdg_altasbajas_result_01 > ul li a:hover {
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
      -ms-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
      -o-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
      background-color: #E6E6E6;
    }
    .wdg_altasbajas_result_01 > div {
        position: relative;
    }
    .wdg_altasbajas_result_01 .controls {
        border-top:1px solid #D1D1D1;
    }

    .wdg_altasbajas_result_01 a.next {
        background-color: #3a9e2a;
    }

    .wdg_altasbajas_result_01 > div .prev, 
    .wdg_altasbajas_result_01 > div .next {
        background: none repeat scroll 0 0 #AAAAAA;
        display: none;
        height: 28px;
        left: 0;
        position: absolute;
        top: 0;
        width: 29px;
    }

    .wdg_altasbajas_result_01 > div .next {
        left: 29px;
        margin-left: 1px;
    }

    .wdg_altasbajas_result_01 > div .full-timetable {
        background: none repeat scroll 0 0 #E6E6E6;
        box-shadow: 0 0 7px #C0C0C0 inset;
        display: block;
        height: 40px;
        line-height: 40px;                       
		text-align: center;
    }

    .wdg_altasbajas_result_01 > div .full-timetable span {
        color: #232323;
        font-size: 14px;
        font-weight: bold;
    }

    .wdg_altasbajas_result_01 a.prev, 
    .wdg_altasbajas_result_01 a.next {
        background-color: #A41D21;
    }
    .wdg_altasbajas_result_01 > div .tvsa-caret-up{
        color: #fff;
        line-height:25px;
        margin: 2px 0 0 10px; 
    }
    .wdg_altasbajas_result_01 > div .tvsa-caret-down{
        color: #fff;
        line-height:25px;
        margin: 2px 0 0 10px; 
    }

	.wdg_altasbajas_result_01 .degraded{
		background-repeat:repeat-x;
		background-position:10px;
		border-top:none;
		display:block;			
		position:absolute;		
		bottom:58px;
		width:100%;
	}
    /************************************************List box***************************************************+*/
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_012_listcontainer{
        clear: both;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_012_listcontainer ul{
        background-color: #f5f5f5;
        z-index: 1000 !important;
        position: relative;
        visibility: hidden;
        cursor: pointer;
    }
    
    .wdg_altasbajas_result_01 .result_champion{
        display:none;
    }
    .wdg_altasbajas_result_01 .result_champion:nth-child(-n+9) {
        display:block;
    }
    
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_012_listcontainer ul::-webkit-scrollbar-thumb {
        background: #d3d3d3;
        -webkit-border-radius: 1ex;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_012_listcontainer ul::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        background: #f5f5f5;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_012_listcontainer ul li{
        width: 100%;
        height: 34px;
        /*background-color: rgba(235,235,235,0.6);*/
        background-color: rgba(235,235,235,0.6);
        border-bottom: 1px solid #d3d3d3;
        box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.1);
    }  
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_012_listcontainer ul li:hover{
        background-color: rgba(235,235,235,0.9);  
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_012_listcontainer ul li p{
        margin-left: 20px;
        line-height: 34px;
        font-style: italic;
        font-weight: bold;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_listcontainer{
        clear: both;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_listcontainer ul{
        background-color: #f5f5f5;
        z-index: 1000 !important;
        position: relative;
        visibility: hidden;
        cursor: pointer;

    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_listcontainer ul::-webkit-scrollbar-thumb {
        background: #d3d3d3;
        -webkit-border-radius: 1ex;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_listcontainer ul::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        background: #f5f5f5;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_listcontainer ul li{
        width: 100%;
        height: 34px;
        /*background-color: rgba(235,235,235,0.6);*/
        background-color: rgba(235,235,235,0.6);
        border-bottom: 1px solid #d3d3d3;
        box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.1);
    }  
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_listcontainer ul li:hover{
        background-color: rgba(235,235,235,0.9);  
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_listcontainer ul li p{
        margin-left: 20px;
        line-height: 34px;
        font-style: italic;
        font-weight: bold;
    }

    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_dropdowncontent > span
    {
        float: right;
        margin-top: 14px;
        margin-right: 12px;
        cursor: pointer;
    }
        
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_dropdowncontent > span
    {
        float: right;
        margin-top: 14px;
        margin-right: 12px;
        cursor: pointer;
    }

    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_dropdown {
            clear: both;
            width: 100%;
            height: 100%;
            background-color: #d3d3d3;
            box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,0.1);
            cursor: pointer;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_listcontainer
    {
            clear: both;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_listcontainer ul
    {
        background-color: #f5f5f5;
        z-index: 1000 !important;
        position: relative;
        visibility: hidden;
        cursor: pointer;

    }

    .wdg_altasbajas_result_01 .wdg_altasbajas_result_012_dropdowncontent > span
    {
        float: right;
        margin-top: 4px;
        /*margin-right: 3px;*/
        cursor: pointer;
		height: 20px;
		width: 20px;
		color:#000;
    }


    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_dropdown {
            clear: both;
            width: 100%;
            height: 100%;
            background-color: #E1E1E1;
            box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,0.1);
            cursor: pointer;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_dropdowncontent > span
    {
        float: right;
        margin-top: 14px;
        margin-right: 12px;
        cursor: pointer;
    }


    .wdg_altasbajas_result_01 .wdg_altasbajas_result_012_dropdown {
            clear: both;
            width: 100%;
            height: 100%;
            
            cursor: pointer;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_listcontainer
    {
            clear: both;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_listcontainer ul
    {
        background-color: #f5f5f5;
        z-index: 1000 !important;
        position: relative;
        visibility: hidden;
        cursor: pointer;

    }

    .wdg_altasbajas_result_01 .color .carrera,
    .wdg_altasbajas_result_01 .color .circuito
    {
        color:black !important;
        float: left;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_012_dropdowncontent > p
    {
        float: left;
        padding-left: 15px;
        padding-top: 9px;
		font-size:13px;
		font-weight:bold;
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_dropdowncontent > p
    {
        float: left;
        padding-left: 15px;
        padding-top: 6px;
    }
    .wdg_altasbajas_result_01 .color .carrera
    {
        padding-top: 3px;
        padding-bottom: 8px;
        width: 32% !important;
    }
    .wdg_altasbajas_result_01 .color .circuito
    {
        padding-top: 3px;
        padding-bottom: 8px;
        width: 21% !important;
        display: none;
    }
    .wdg_altasbajas_result_01 .color .ganador
    {
        padding-top: 3px;
        padding-bottom: 8px;
        width: 32% !important;
    }
    .wdg_altasbajas_result_01 .color2 > div 
    {
        float: left;
        position: relative;
        font-size: 14px;
    }

    .wdg_altasbajas_result_01 .fechaDesplegada
    {
        width: 10% !important;
        font-size: 12px;
        float: left !important;
        position: relative;
        text-align: right !important;
        padding-right: 18px;
    }
    .wdg_altasbajas_result_01 .ganador
    {
        width: 22%;
        font-style: normal !important;
        font-weight: bold;
        padding-left: 12px;
        text-align: left;
    }
    .wdg_altasbajas_result_01 .circuito
    {
        width: 22%;
        font-style: normal !important;
        font-weight: bold;
        padding-left: 12px;
        text-align: left;
    }
    .wdg_altasbajas_result_01 .carrera
    {
        
        width: 34%;
        font-style: normal !important;
        font-weight: bold;
        padding-left: 12px;
        text-align: left;
    }
    .wdg_altasbajas_result_01 .fecha
    {
        width: 13%;
        position: relative;
        font-weight: bold;
        font-style: normal !important;
        text-align: center;
    }
    .wdg_altasbajas_result_01 .color2
    {
        width: 100%;
        padding-top: 17px;
        height: 15px;
        padding-bottom: 11px;
        position: relative;
    }
    .wdg_altasbajas_result_01 .filter
    {
        width: 73%;
        position: relative;
        float: left;
        height: 32px;  	
    }
    .wdg_altasbajas_result_01 .wdg_altasbajas_result_012_dropdowncontent
    {
        clear: both;
        cursor: pointer;
        height: 100%;
        width: 100%;
    }
    .wdg_altasbajas_result_01 .filterResultado
    {
        width: 100%;
        position: relative;
        height: auto;
        margin-bottom: 0;
        margin-top: 24px;
    }
    .wdg_altasbajas_result_01 .lineaResultado > span.title
    {
        position: relative;
		text-align: center;
		color: black;
		font-size: 13px;
		padding: 8px 1px 8px 5px;
		float: left;
		width: 78px;
		font-weight: bold;
		background-color: #f5f5f5;
        
    }
    .wdg_altasbajas_result_01 .lineaResultado:first-child span.title
    {
        border-top: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
    }

    .wdg_altasbajas_result_01 .lineaResultado
    {
        width: 100%;
        position: relative;
        height: 35px;
        clear: both;
        border-bottom: 1px solid #CCC;
		background-color: #E7E7E7;
        box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,0.05);;
    }
    .wdg_altasbajas_result_01 .str_pleca_01
    {
        margin-bottom: 10px;
    }
    
    /*BEGIN: sprite*/    	
     	.wdg_altasbajas_result_01 .wdg_altasbajas_result_01_sprite {
	        background: url(../img/global-sprites.png) no-repeat 0 0;
	        display:none;
	        height: 10px;
	        overflow: hidden;
	        text-indent: -1584px;
	        width: 10px;
    	}
	    .wdg_altasbajas_result_01 .wdg_altasbajas_result_01_sprite{   	 
			right: 0;
			top: 0;
			display: inline;	    
	    }      
	      .wdg_altasbajas_result_01  .wdg_altasbajas_result_01_sprite.video-corner {
	        background-position: -131px -40px;
	        height: 43px;
	        width: 43px;
	       	position: absolute;
	    }
	/*END: sprite*/
	
	/*BEGIN: */
	.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block{
		width: 100%;
		height: auto;
		clear: both;
		overflow: hidden;
		background-clip: border-box;
		background-color: #E7E7E7;
		background-image: none;
		background-origin: padding-box;
		background-repeat: repeat;
		background-size: auto auto;
		text-decoration: none;
		border-bottom: 1px solid #CCCCCC;
        box-shadow: inset 20px 0px 12px 4px rgba(0,0,0,0.05);
	}
	.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block .date{
		display: block;
		width: 83px;
		background: none repeat scroll 0 0 #f5f5f5;
		font-size: 12px;
		height: 52px;
		float: left;
		text-align: center;
		line-height: 42px;
		font-weight: bolder;
		position: relative;
		padding-right: 0px;
	}
	.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block .date .inactive{
		display: block;
		height: 15px;
		width: 91px !important;
		font-size: 12px;
		font-weight: normal;
		margin-top: -3px;
		text-align: center;
		line-height: 42px;
	}
	.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block .date .inactive span.inactive{
		display: block;
		height: 15px;
		width: 91px !important;
		font-size: 12px;
		font-weight: normal;
		margin-top: -3px;
		text-align: center;
		line-height: 42px;
	}
	.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block .date span.activo{
		width: 75px !important;
		font-size: 16px;
		margin-left: 2px;
		text-align: center;
		line-height: 42px;
		font-weight: bolder;
		padding-left: 5px;		
	}
	.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block .icon_team{
		border-bottom: 0 none;
		line-height: 35px;
		padding-top: 14px;
		width: 33px !important;
		float: left;
		text-align: center;
		font-weight: bolder;
		height: auto;
	}
	.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block .team{
			font-size: 14px;
			margin-top: 7px;
			width: 33px !important;
			float: left;
			text-align: center;
			line-height: 42px;
			font-weight: bolder;
			height: auto;
		}
		.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block .result{
			font-size: 18px;
			margin-top: 7px;
			width: 25px !important;
			float: left;
			text-align: center;
			line-height: 42px;
			font-weight: bolder;
			height: auto;
		}
		.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block .content_versus{
			font-size: 10px;
			font-weight: normal !important;
			font-style: italic;
			margin-top: 7px;
			width: 25px !important;
			padding-left: 0px;
			float: left;
			text-align: center;
            line-height: 25px;
			height: 50px;
		}
		.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block .content_versus div.versus{
			display: block;
			width: 28px;
			height: 25px;
			line-height: 35px;
			font-weight: normal !important;
			color: #948f8f !important;
			float: left;
			text-align: center;
		}
		.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block .content_versus .versus_time{
			width: 28px;
			height: 15px;
			line-height: 15px;
			font-weight: normal !important;
			color: #948f8f !important;
			float: left;
			text-align: center;
		}
	.wdg_altasbajas_result_01 .activo{
			background-color:#B0B0B0;
			box-shadow: -2px 0 10px rgba(18, 28, 26, 0.37) inset;
			transition: all 0.2s ease-out 0s;
			color:#FFF !important;
	}
	.wdg_altasbajas_result_01 .wdg_altasbajas_result_01_block.activo{
		background:#B2B2B2;
	}
	.wdg_altasbajas_result_01 .wdg_altasbajas_result_01_block .content_versus div.versus.activo2,
	.wdg_altasbajas_result_01 .deg .wdg_altasbajas_result_01_block .content_versus .versus_time.activo2,
	.wdg_altasbajas_result_01 .wdg_altasbajas_result_01_block div.result.activo2 {
		color:#FFF !important;
	}	
	/*END:*/
	.wdg_altasbajas_result_01 .division{
		float: left;		
		margin-top: 0;
		margin-bottom: 10px;	
	}
	.wdg_altasbajas_result_01 .division span{
		float: left;
		padding-left: 21px;
	}
	.wdg_altasbajas_result_01 .division h2.games{
		font-size: 14px;
		font-weight: bolder;
		width: 120px;
		margin-top: -2px;
		float: right;
        padding-left: 22px;

	}
    .wdg_altasbajas_result_01 .division img{
        margin:5px 0px 0 20px;
 }	
	
	
	.wdg_altasbajas_result_01 .controls .bgactive{
		background-color:#3a9e2a;
	}
	
	.wdg_altasbajas_result_01 .controls .bginactive{
		background-color:#3a9e2a;
	}
	
	.wdg_altasbajas_result_01 .controls .bgactive span{
		color:#FFF;
	}
	
	.wdg_altasbajas_result_01 .controls .bginactive span{
		color:#fff;
	}

    .background-color1 {
background-color: #3a9e2a !important;
    }
	
	.deg li figure { width: 60px; height:25px; display: block; float:left; margin-top:10px; padding:4px;}
    .deg li figure img { display:inline-block;width: 25px; height:25px; display: block; float:left; margin-right:2px;}
    .deg li figure figcaption { display:inline-block; width: 30px; height:25px; display: block; float:left; margin-right:2px;}
    .deg li .ligaResult { display:inline-block; width: 80px; height:50px; display: block; float:left;}
    .deg li .ligaResult .result { display:inline-block; width: 10px; height:15px !important; display: block; float:left;}
	
	
	
}



/*Style Retina*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
 	.wdg_altasbajas_result_01 .wdg_altasbajas_result_01_sprite {
        background: url(../global/img/global-sprites@2x.png) no-repeat 0 0;
		background-size:640px 224px;
	}
}
@-moz-document url-prefix() {
	  		.wdg_altasbajas_result_01 > ul li{
	    		height: auto;
	  		}
}
@-moz-document url-prefix() {
	  		.wdg_altasbajas_result_01 > ul li.color a{
	    		padding: 6px 27px;
	  		}
}