@media screen {
    .wdg_mxm_live_03{
        width: 100%;
        overflow: hidden;
		position:relative;
		margin-bottom:12px;
    }
    .wdg_mxm_live_03 i{
        color: #8f8f8f;
    }
	.ie7 .wdg_mxm_live_03 .scroll{
		overflow-x:hidden !important;
	}
    .wdg_mxm_live_03 ul{
        width: 100%;
        overflow: hidden;
    }
    .wdg_mxm_live_03 ul li{
        padding: 11px 0;
        border-bottom: 1px #ccc solid;
        clear: both;
        overflow: hidden;
		width:98%;
    }

    .wdg_mxm_live_03 ul li .time{
        display:block;
		padding-left:10px;
        width:33px;
        text-align:center;
        margin-left: 2px;
        margin-right: 25px;
        float:left;
		font-weight:bold;
    }
    .wdg_mxm_live_03 ul li .icon-time{
        display:block;
        width:33px;
        text-align:center;
        margin-left: 15px;
        margin-right: 12px;
        float:left;
    }
    .wdg_mxm_live_03 ul li .icon-interactive{
        color: #5b5b5b !important;
        float: right;
        cursor: pointer;
    }
    .wdg_mxm_live_03 ul li .icon-interactive2{        
        color: #5b5b5b !important;
        padding-right: 0;
        margin-left: 0;
        float: right !important;
        cursor: pointer;
    }
    .wdg_mxm_live_03 ul li .chronic {
        border-left: 1px solid #CCCCCC;
        float: left;
        font-size: 14px;
        font-weight: bold;
        margin-left: 5px;
        padding-left: 8px;
        width: 60%;
        line-height: 19px;
    }
    .wdg_mxm_live_03 ul li .chronic h2{
        font-size:inherit;
        font-weight:inherit;
    }
    .wdg_mxm_live_03 ul li .chronic .chronic_description{
    	margin-left:31px;
    	font-weight: normal;
    }
    .wdg_mxm_live_03 ul li .chronic .textcolor-title2{
        font-size: 14px;
        /*float: left;*/
        width: 100%;
		font-style:italic;
    }
    .wdg_mxm_live_03 ul li .chronic .textcolor-title4{
        font-size: 13px;
    }
    /*
    .wdg_mxm_live_03 ul li .tvsa-videocamera{
    	font-size: 22px;
    }
    .wdg_mxm_live_03 ul li .tvsa-camera{
    	font-size: 22px;
    }
    */
    .wdg_mxm_live_03 ul li .tvsa-videocamera:hover,
    .wdg_mxm_live_03 ul li .tvsa-camera:hover{
        color: #A70A0B;
    }
    .wdg_mxm_live_03 .img_stage_01{
        margin-bottom: 5px;
        display: none;
        margin-top: 80px;        
    }
    .wdg_mxm_live_03 .vid_player_01{
        margin-bottom: 0px;
        margin-top: 52px;
        display: none;
    }

    .wdg_mxm_live_03 .arrow_buttons{
        /*border-top: 1px solid #ccc;*/
        margin-top: 0px;
    }
    .wdg_mxm_live_03 a.next {
        background-color: #A41D21;
    }

    .wdg_mxm_live_03 > div .prev, 
    .wdg_mxm_live_03 > div .next {
        background: none repeat scroll 0 0 #AAAAAA;
        display: none;
        height: 1.75em;
        left: 0;
        float: left;
        top: 0;
        width: 1.8em;
    }

    .wdg_mxm_live_03 > div .next {
        left: 1.8em;
        margin-left: 1px;
    }

    .wdg_mxm_live_03 > div .full-timetable {
        background: none repeat scroll 0 0 #E6E6E6;
        box-shadow: 0 0 7px #C0C0C0 inset;
        display: none;
        height: 1.75em;
        line-height: 1.75em;
        margin-left: 5.2em;
        padding-left: 1.3em;
    }

    .wdg_mxm_live_03 > div .full-timetable span {
        color: #000000;
        font-size: 0.875em;
        font-weight: bold;
    }

    .wdg_mxm_live_03 > div .full-timetable {
        line-height: 1.75em;
    }

    .wdg_mxm_live_03 a.prev, 
    .wdg_mxm_live_03 a.next {
        background-color: #A41D21;
    }
    .wdg_mxm_live_03 > div .tvsa-caret-up{
        margin: 2px 0 0 8px; 
        color: #fff
    }
    .wdg_mxm_live_03 > div .tvsa-caret-down{
        margin: 2px 0 0 10px; 
        color: #fff
    }
	.wdg_mxm_live_03 .bold{	
		font-weight:bold;
	}
    .wdg_mxm_live_03 .degraded{
		display:block;
        top:490px;
		width:100%;
    }
    .wdg_mxm_live_03 .wdg_mxm_live_03_verMas{
        background-color: #CCCCCC;
        display: block;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
		margin-top:0px;
    }
	.wdg_mxm_live_03  li .vid_player_01{
		clear: both;
		height:auto;
		overflow: hidden;
	}
	.wdg_mxm_live_03 .scroll{
		height:500px;
		width:104%;
		overflow:auto;
		overflow-x:hidden;
		position:relative;
	}
	.wdg_mxm_live_03 .mantener{
		width:99%;	
	}
	
	.wdg_mxm_live_03 .logoTeam{
		float: left;
		width:32px;
		min-height:55px;
	}
}
@media screen and (device-width:320px) and (orientation:landscape) {
    /* iPhone Landscape Styles Here*/
	.wdg_mxm_live_03 ul li{
		width:97%;
    }
}

@media screen and (max-width:623px){
    /* iPhone Landscape Styles Here*/
    .wdg_mxm_live_03 ul li .icon-interactive2{
            margin-right: -19px;   
            margin-top: -6px!important;
        }
    }
    .wdg_mxm_live_03 ul li .icon-interactive{
        margin-right: 20px;
        margin-top:12px;
    }
}
