@media screen and (min-width: 948px){    
	.wdg_mxm_live_02 > div .prev, 
    .wdg_mxm_live_02 > div .next {
        display: block;
    }
	.wdg_mxm_live_02 .degraded{
		display:none;
	}
    .wdg_mxm_live_02 .wdg_mxm_live_02_list{
    	overflow: hidden;
    	width: 100%;
    }
    .wdg_mxm_live_02 .arrow_buttons{
    	display: block !important;
    }
    .wdg_mxm_live_02 .degradado{
        display:none;
    }
	.wdg_mxm_live_02 ul li{
        padding: 15px 10px 15px 0;
    }
    .ie7 .wdg_mxm_live_02 .icon-interactive2{
    	width: 3%;
    }
}