@media screen and (max-width: 623px){
    
    .wdg_mxm_plcards_01 .titulo{
        font-size:18px;
        font-style:italic;
        padding-bottom:15px;
        padding-left:50px;
        margin-bottom:5px;
        border-bottom: 1px solid #CCC;
    }
    .wdg_mxm_plcards_01 .convocados{
        font-size:12px;
        width:100%;
        border-spacing:4px;
        border-collapse: 5px;
    }
    
    .wdg_mxm_plcards_01 .convocados .head {
        border-bottom: 1px solid #ccc;
        padding: 0 0px 0px 5px;
        height: 39px;
        margin-top: 4px;
    }
    
    .wdg_mxm_plcards_01  .icon-team1,
    .wdg_mxm_plcards_01  .icon-team2{
        display:inline-block;
        padding: 0 5px 0px 5px;
        height: 28px;
        float: left;
        width:18%;
        text-align: center;
        margin-top: 3px;
    }
    .wdg_mxm_plcards_01 .player{
        height: 30px;
        padding: 0 10px 0px 10px;
        line-height: 30px;
        text-align: left;
        font-weight: bold;
        float:left;
        display:inline-block;
        width:51%;
    }
    
    .wdg_mxm_plcards_01 .convocados .bodyt {
        padding: 0 5px;
        height: 38px;
        line-height: 24px;
        padding-left: 5px;
        padding-right: 0px;
    }
    
    .wdg_mxm_plcards_01 .convocados .bodyt .textcolor-title2 {
       width: 10%;
       font-size: 18px;
       height: 30px;
       display:inline-block;
       float: left;
       margin-top: 4px;
       padding: 0 5px;
       text-align: center;
       font-weight: bold;
    }
    .wdg_mxm_plcards_01 .convocados .bodyt .textcolor-title1 {
       width: 10%;
       font-size: 19px;
       height: 30px;
       display:inline-block;
       float: left;
       margin-top: 4px;
       padding: 0 5px;
       text-align: center;
       color: #A70A0B !important;
       font-weight: bold;
    }
    .wdg_mxm_plcards_01 .convocados .bodyt .name {
       width: 40%;
       float: left;
       display:inline-block;
       margin-top: 4px;
       padding: 0 5px;
       text-align: center;
    }
    .wdg_mxm_plcards_01 .convocados .bodyt .textcolor-title4{
       float: left;
       display:inline-block;
       margin-top: 4px;
       padding: 0 5px;
       width: 19%;
       text-align: center;
    }
    .wdg_mxm_plcards_01 .convocados .bodyt .name p{
       font-weight: bold;
    }
    .str_pleca_01{
       margin-bottom:0px!important;
    }
    .wdg_mxm_plcards_01{
       border-bottom: 1px solid #CCC;
    }
    .wdg_mxm_plcards_01 .convocados .bodyt .textcolor-title4 i{
        color:#5b5b5b;
    }
}