@media screen {
    .wdg_rating_main_01{
        width: 624px;
        clear: both;
        overflow: hidden;
        margin-bottom: 24px;
    }
	.wdg_rating_main_01 .name{
		font-size:16px;
		font-weight:bold;
    }
	.wdg_rating_main_01 .father{
		padding-bottom:10px;
    }
        .wdg_rating_main_01 .wdg_rating_main_01_player{
            float: left;
            height: 312px;
            width: 301px;
            line-height: 16px;
        }
        .wdg_rating_main_01 .wdg_rating_main_01_player p{
            float: left;
        }
            .wdg_rating_main_01 .wdg_rating_main_01_player p.activity{
                font-size: 12px;
                font-style: italic;
                width: 100%;
            }
			.wdg_rating_main_01 .wdg_rating_main_01_player p.activityn {
				font-size: 12px;
				font-style: normal;
				width: 100%;
			}
            .wdg_rating_main_01 .wdg_rating_main_01_player p.activity_title{
                font-size: 12px;
                font-style: italic;
                margin-top: 8px;
                width: 225px;
            }
            .wdg_rating_main_01 .wdg_rating_main_01_player p.average{
                font-size: 18px;
                width: 33px;
                margin-top: 6px;
            }

            .wdg_rating_main_01 .wdg_rating_main_01_player p.average_total{
                font-size: 24px;
                width: 42px;
                text-align: center;
                margin-top: 4px;
            }

        .wdg_rating_main_01 .separator{
            float: left;
            /*border-top: 1px dashed #6F6F6F;*/
            width: 298px;
            margin-left: 25px;
        }
        .wdg_rating_main_01 .wdg_rating_main_01_players{
            margin-left: 22px;
            float: left;
            height: 127px;
            width: 298px;
            margin-top: 24px;
            
        }
            .wdg_rating_main_01 .wdg_rating_main_01_players img,
            .wdg_rating_main_01 .wdg_rating_main_01_players p{
                float: left;
                display: inline-block;                
            }

            .wdg_rating_main_01 .wdg_rating_main_01_players .player_data{               
				float: right;
				height: 30px;
				margin-top: 8px;
				margin-left: 0;
				margin-bottom: 5px;
				position: relative;
				width: 150px;
            }
            .wdg_rating_main_01 .wdg_rating_main_01_players .player_data2{             
				float: right;
				line-height: 16px;
				margin-left: 0;
				position: relative;
				width: 150px;				                               
            }
            .wdg_rating_main_01 .wdg_rating_main_01_players p.activity{
                font-size: 12px;
                font-style: italic;
                width: 55%;
            }
			.wdg_rating_main_01 .wdg_rating_main_01_players p.activityn {
				font-size: 12px;
                font-style: normal;
                width: 55%;
			}
            .wdg_rating_main_01 .wdg_rating_main_01_players p.activity_title{
                font-size: 12px;
                font-style: italic;
                width: 72px;
                margin-top: 10px;
            }
            .wdg_rating_main_01 .wdg_rating_main_01_players p.average{
                font-size: 18px;
                width: 33px;
                margin-top: 3px;
                /*border-right: 1px dashed #6F6F6F;*/
            }

            .wdg_rating_main_01 .wdg_rating_main_01_players p.average_total{
                font-size: 22px;
                width: 42px;
                text-align: center;
                
            }
        
}