@media screen and (min-width: 624px){
	.wdg_goalsanoted_01{
		width: 300px;
		overflow: hidden;
		margin-bottom: 36px;
	}
	.wdg_goalsanoted_01 .str_pleca_01{
		margin-bottom: 0px !important;
	}
	.wdg_goalsanoted_01 .scroll-carrusel{
		height: 208px;
		overflow: hidden;
		clear: both;
	}
	.wdg_goalsanoted_01 .scroll{
		height: 208px;
		overflow: auto;
		 width: 317px;
	}
	.wdg_goalsanoted_01 .jugador,
	.wdg_goalsanoted_01 .estadistica,
	.wdg_goalsanoted_01 .grado{ float: left;}
	.wdg_goalsanoted_01 .jugador{

	}
	.wdg_goalsanoted_01 .convocados{
		border-bottom: 1px solid #ccc;
		margin: 0px 0 14px;
	}
	.wdg_goalsanoted_01 .block_container{
		width: 300px;
		overflow: hidden;
		clear: both;
		padding: 11px 0;
	}
	.wdg_goalsanoted_01 .jugador{
		width: 113px;
		font-size: 13px;
		padding-left: 5px;
	}
	.wdg_goalsanoted_01 .jugador p{
        font-weight: bold;
    }
    .wdg_goalsanoted_01 .jugador span{
        font-weight: normal;
    }
	.wdg_goalsanoted_01 .jugador span{
		display: block;
		font-size: 11px;
		font-style: italic;
		width: 90px;
		margin-top: 6px;
	}
	.wdg_goalsanoted_01 .estadistica{
		width: 112px;
		padding-left: 16px;
	}
	.wdg_goalsanoted_01 .estadistica i{
		float: left;
		padding-right: 6px;
		color: #5b5b5b;
		font-size: 18px;
	}
	.wdg_goalsanoted_01 .grado{
		font-size: 12px;
	}
	.wdg_goalsanoted_01 .grado span {
		display: block;
		margin: 10px 0px 0 -20px;
		font-style: italic;
		width: 94px;
		font-size: 13px;
		font-weight: bold;
	}
	.wdg_goalsanoted_01 .marcador{
		float: left;
		height: 53px;
		padding-left: 16px;
	}
	
	.wdg_goalsanoted_01 .marcador p{
        font-size:18px;
    }

	/*Penales*/
	.wdg_goalsanoted_01 .wdg_mxm_penalties_01 .titulo{
		font-style: italic;
		padding-left: 44px;
		font-style: italic;
		border-bottom: 1px solid #ccc;
		font-size: 18px;
		padding-bottom: 6px;
	}
	.wdg_goalsanoted_01 .wdg_mxm_penalties_01 .block_container{
		padding: 11px 0;
	}
	.wdg_goalsanoted_01 .wdg_mxm_penalties_01 .convocados{
		margin-top: 2px;
		margin-bottom: 0px;
	}
	.wdg_goalsanoted_01 .wdg_mxm_penalties_01 .jugador{
		width: 171px;
		font-size: 13px;
	}
	.wdg_goalsanoted_01 .degraded{
		top: 230px;
	}
}